* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  display:flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  background-color: darkgray;
}

h1 {
  font-size: 18px;
  font-weight: 800;
  display: flex;
  margin-top: 10px;

}

#resizeBtn {
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 10px;
  background-color: darkgray;
}

#container {
  display: flex;
  flex-wrap: wrap;
  width: 480px;  /* Fixed width */
  height: 480px; /* Fixed height */
  background-color: black;
  border: 2px solid black;
  --grid-size: 16; /* Default grid size */
  margin-left: 10px;
}

.square {
  width: calc(100% / var(--grid-size));  /* Uses CSS variable for dynamic grid size */
  height: calc(100% / var(--grid-size)); /* Ensures square shape */
  border: 1px solid #ddd;
  background-color: lightgray;
}


  